ion-content {
  --background: #000000;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}

.ar-content {
  position: relative;
  width: 100%;
  height: 100%;
}

iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}
