<ion-header>
  <ion-toolbar>
    <ion-title>AR Taller</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Bienvenido al Taller de AR</h1>
  <p>
    Selecciona un marcador y presiona "Iniciar AR". Apunta la cámara hacia la imagen del marker.
  </p>

  <ion-item>
    <ion-label>Target</ion-label>
    <ion-select [(ngModel)]="selectedMarkerUrl">
      <ion-select-option
        *ngFor="let marker of markers"
        [value]="marker.url"
      >
        {{ marker.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" (click)="goToAR()">
    Iniciar AR
  </ion-button>
</ion-content>
